<?xml version='1.0' encoding='UTF-8'?>
<odoo>
    <data>
        <menuitem id="dalsil_menu" name="Menu" sequence="1"/>

        <!-- Menu Master -->
        <menuitem id="dalsil_menu_master" name="Master" sequence="10"
                  parent="dalsil_menu"/>

        <menuitem id="dalsil_menu_customer" name="Customer" sequence="10"
                  action="base.action_partner_customer_form" parent="dalsil_menu_master"/>

        <menuitem id="dalsil_menu_vendor" name="Vendor" sequence="20"
                  action="base.action_partner_supplier_form" parent="dalsil_menu_master"/>

        <menuitem id="dalsil_menu_driver" name="Driver" sequence="30"
                  action="action_partner_driver_form" parent="dalsil_menu_master"/>

        <menuitem id="dalsil_menu_truck" name="Truck" sequence="50"
                  action="act_dalsil_truck" parent="dalsil_menu_master"/>

        <menuitem id="dalsil_menu_product" name="Product" sequence="60"
                  action="product.product_template_action" parent="dalsil_menu_master"/>

        <!-- Menu Transaction -->
        <menuitem id="dalsil_menu_trans" name="Transaction" sequence="20"
                  parent="dalsil_menu"/>

        <menuitem id="dalsil_menu_rent_truck" name="Penyewaan Truck" sequence="10"
                  action="act_dalsil_rent_truck" parent="dalsil_menu_trans"/>

        <menuitem id="dalsil_menu_cust_invoice" name="Penjualan" sequence="20"
                  action="account.action_invoice_tree1" parent="dalsil_menu_trans"/>

        <menuitem id="dalsil_menu_vendor_bill" name="Pembelian" sequence="30"
                  action="account.action_invoice_tree2" parent="dalsil_menu_trans"/>

        <menuitem id="dalsil_menu_payments" name="Pembayaran" sequence="100"
                  action="account.action_account_payments" parent="dalsil_menu_trans"/>

        <menuitem id="dalsil_menu_cg_in" name="Incoming Check Giro" sequence="110"
                  action="act_dalsil_cg_in" parent="dalsil_menu_trans"/>

        <menuitem id="dalsil_menu_cg_out" name="Outgoing Check Giro" sequence="120"
                  action="act_dalsil_cg_out" parent="dalsil_menu_trans"/>


        <!-- Menu Accounting -->
        <menuitem id="dalsil_menu_accounting" name="Akuntansi" sequence="30"
                  parent="dalsil_menu"/>

        <menuitem id="dalsil_menu_account" name="Chart of Accounts" sequence="10"
                  action="account.action_account_form" parent="dalsil_menu_accounting"/>

        <menuitem id="dalsil_menu_account_bank" name="Bank Accounts" sequence="20"
                  action="account.action_account_bank_journal_form" parent="dalsil_menu_accounting"/>

        <menuitem id="dalsil_menu_account_journal" name="Journals" sequence="30"
                  action="account.action_account_journal_form" parent="dalsil_menu_accounting"/>

        <menuitem id="dalsil_menu_account_move_line" name="Journal Items" sequence="40"
                  action="account.action_account_moves_all_a" parent="dalsil_menu_accounting"/>

        <menuitem id="dalsil_menu_account_move" name="Journal Entries" sequence="50"
                  action="account.action_move_journal_line" parent="dalsil_menu_accounting"/>

        <!-- Menu Laporan -->
        <menuitem id="dalsil_menu_report" name="Laporan" sequence="40"
                  parent="dalsil_menu"/>

        <menuitem id="dalsil_menu_general_ledger" name="Buku Besar" sequence="10"
                  action="account.action_account_general_ledger_menu" parent="dalsil_menu_report"/>



        <!-- Menu Configuration -->
        <menuitem id="dalsil_config_act" name="Configuration" sequence="9999"
                  action="act_dalsil_config" parent="dalsil_menu"/>
    </data>
</odoo>
