<?xml version='1.0' encoding='UTF-8'?>
<odoo>
    <data noupdate="1">
        <record id="dalsil_config" model="dalsil.config">
            <field name="def_sangu">0.0</field>
            <field name="product_sangu"></field>
            <field name="product_rent"></field>
            <field name="sangu_acc_id"></field>
            <field name="rent_acc_id"></field>
            <field name="purc_acc_credit_id"></field>
            <field name="purc_acc_debit_id"></field>
            <field name="inv_acc_credit_id"></field>
            <field name="inv_acc_debit_id"></field>
        </record>
    </data>
</odoo>
